body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
}

h2 {
	color: #333;
}

/* Ajustar el diseño para que el slider-container esté a la izquierda del gráfico */
.parent {
    display: flex;
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
    height: fit-content; /* Ocupa toda la altura de la pantalla */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar padding */
    box-sizing: border-box; /* Incluir padding y bordes en el cálculo del tamaño */
    gap: 20px; /* Espaciado entre los elementos hijos */
	flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
}

#slider-container {
    position: relative; /* Posicionamiento relativo dentro del flujo */
    width: auto; /* Ancho fijo para el contenedor de sliders */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear los elementos dentro del slider-container a la izquierda */
}

label {
	font-weight: bold;
	margin: 10px 0;
}

input[type="range"] {
	width: 100%;
	margin-bottom: 10px;
}

#checkboxes-container {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	justify-items: start;
}

#checkboxes-container label {
	font-size: 18px;
	margin: 0;
}

input[type="checkbox"] {
	margin: 0 10px;
}

button {
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
	cursor: pointer;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #45a049;
}

#grafico3d {
    width: auto; /* Ajustar el ancho relativo al contenedor */
    height: min-content; /* Ajustar el alto relativo a la altura de la ventana */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 0; /* Eliminar padding para que el contenido ocupe todo el espacio */
    display: flex; /* Asegurar que el contenido interno se ajuste */
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-grow: 1; /* Permitir que el gráfico ocupe el espacio restante */
}
